<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>Rivel</string>
  <key>uuid</key>
  <string>6EF5C6AF-A48E-4A33-9FC8-D50B38B14D05</string>
</dict>
</plist>
